{% extends 'base_r.html' %}
{% load static %}

{% block title %} 17-05-22 {% endblock %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Аномалии 17-05-22</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">17-05-22</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
{% endblock %}
{% block content_bottom %}
</main><!-- End #main -->
{% endblock %}