{% extends 'base.html' %}
{% load static %}

{% block title %} Адреса {% endblock %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Кошельки</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Кошельки</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

{% endblock %}
{% block content_bottom %}
</main><!-- End #main -->
{% endblock %}